<section class="content" layout:decorator="layout" layout:fragment="content"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <h2><i class="fa fa-users" aria-hidden="true"></i> <span>Grupos de estudo</span></h2>

    <div class="text-align-right">
        <a class="button" th:href="@{/grupos/criar}" title="Criar">Criar</a>
    </div>

    <!--/*@thymesVar id="list" type="List<br.edu.fumep.entity.GrupoEstudo>"*/-->
    <div th:each="grupo : ${list}" class="margin-bottom-1">
        <div>
            <a th:href="@{'/grupos/editar/' + ${grupo.id}}" th:text="${grupo.nome}"></a>
        </div>
        <div>
            <strong>Curso: </strong><span th:text="${grupo.curso}"></span>
        </div>
        <div>
            <strong>Coordenador: </strong><span th:text="${grupo.coordenador}"></span>
        </div>
        <div>
            <strong>Matéria: </strong><span th:text="${grupo.materia}"></span>
        </div>
        <div>
            <strong>Professor: </strong><span th:text="${grupo.professor}"></span>
        </div>
        <div class="margin-bottom-1">
            <strong>Tags: </strong><span th:text="${grupo.tags}"></span>
        </div>
        <div th:if="${usuario.aluno} != null" th:unless="${grupo.alunoEstaInserido(usuario.aluno)}">
            <a class="button" th:href="@{'/grupos/ingressar/' + ${grupo.id}}" title="Ingressar">Ingressar</a>
        </div>
    </div>
</section>