<section class="content" layout:decorator="layout" layout:fragment="content"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <!--/*@thymesVar id="list" type="List<br.edu.fumep.entity.Mensagem>"*/-->
    <div th:each="mensagem : ${list}">
        <div>
            <a th:href="@{'/grupos/editar/' + ${mensagem.grupoEstudo.id}}" th:text="${mensagem.grupoEstudo.nome}"></a>
        </div>
        <p>
            <div th:text="${mensagem.mensagem}"></div>
            <strong>Enviado por <span th:text="${mensagem.aluno.nome}"></span></strong>
        </p>
    </div>
</section>