<section layout:decorator="layout" layout:fragment="content"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:th="http://www.thymeleaf.org">

    <h2 th:text="#{index.what.used}"></h2>
    <ul>
        <li>Spring Boot 1.2.5</li>
        <li>Spring Web 4.1.7</li>
        <li>Spring Security 3.2.7</li>
        <li>Hibernate 4.3.10</li>
        <li>H2 Database Engine 1.4.187</li>
        <li>Thymeleaf 2.1.4</li>
        <li>Thymeleaf Layout Dialect 1.2.9</li>
        <li>Thymeleaf Spring Security integration modules 2.1.2</li>
        <li>Web Resource Optimizer for Java 1.7.8</li>
        <li>Spring Test 4.1.7</li>
        <li>Mokito 1.10.19</li>
        <li>PureCSS 0.6.0</li>
        <li>jQuery 1.11.3</li>
        <li>Respond 1.4.2</li>
        <li>HTML5Shiv 3.7.2</li>
    </ul>
</section>
