<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8"/>
        <title>Spring Boot Security</title>

        <link rel="stylesheet" type="text/css" th:href="@{/webjars/normalize.css/3.0.2/normalize.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

        <!--[if lte IE 8]>
        <script type="text/javascript" th:src="@{/webjars/html5shiv/3.7.3/html5shiv.js}"></script>
        <script type="text/javascript" th:src="@{/webjars/respond/1.4.2/src/respond.js}"></script>
        <![endif]-->

        <script type="text/javascript" th:src="@{/webjars/jquery/1.12.4/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/js/script.js}"></script>
    </head>
    <body>
        <header>
            <h1>Plugado</h1>
        </header>

        <nav>
            <ul>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/user}" th:text="#{menu.link.users}">Users</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><a th:href="@{/grupos/mural}"><i class="fa fa-home" aria-hidden="true"></i> <span th:text="#{menu.link.home}">Home</span></a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')"><a th:href="@{/grupos/index}"><i class="fa fa-users" aria-hidden="true"></i> <span th:text="#{menu.link.groups}">Groups</span></a></li>
                <li><a th:href="@{/sobre}"><i class="fa fa-info" aria-hidden="true"></i> <span th:text="#{menu.link.about}">About</span></a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}"><i class="fa fa-sign-out" aria-hidden="true"></i> <span th:text="#{menu.link.login}">Login</span></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i> <span th:text="#{menu.link.logout}">Logout</span></a></li>
            </ul>
        </nav>

        <section id="content" layout:fragment="content"></section>

        <footer>
            <p>2017 - Plugado - Todos os direitos reservados.</p>
        </footer>
    </body>
</html>
