<section class="content" layout:decorator="layout" layout:fragment="content"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <h2><i aria-hidden="true" class="fa fa-sign-in"></i> <span th:text="#{menu.link.login}">Login</span></h2>

    <form th:action="@{/login}" method="post">
        <fieldset>
            <div th:if="${param.error}">
                <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">Wrong input!</span>
            </div>

            <div class="field">
                <div><label for="username" th:text="#{login.username}">Username</label></div>
                <div><input type="text" id="username" name="username" th:placeholder="#{login.username}"/></div>
            </div>

            <div class="field margin-bottom-1">
                <div><label for="password" th:text="#{login.password}">Password</label></div>
                <div><input type="password" id="password" name="password" th:placeholder="#{login.password}"/></div>
            </div>

            <div class="field">
                <button type="submit" th:text="#{login.submit}">Login</button>
                <a class="button" th:href="@{/usuarios/registrar}" th:text="#{login.register}">Register</a>
            </div>
        </fieldset>
    </form>
</section>