<section layout:decorator="layout" layout:fragment="content"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <h2><i class="fa fa-info" aria-hidden="true"></i><span th:text="#{menu.link.about}">About</span></h2>

    <h3>Equipe do Projeto</h3>

    <ul>
        <li>Antonio Raphael de Arruda Basso</li>
        <li>Mateus Villa Nova Nunes</li>
        <li>Maraline Bedran</li>
        <li>Leonardo Ortiz Marchese</li>
    </ul>

    <h3>Objetivo</h3>

    <p>Estabelecer relações entre alunos para grupos de estudos juntamente a organização de ambientes físicos para o desenvolvimento das atividades desejadas.</p>

    <h3>Motivação</h3>
    <p>Atualmente na Escola de Engenharia de Piracicaba existe uma carência entre os alunos para organização e agendamento para grupos de estudo juntamente com a utilização de salas de aula ou biblioteca. Nosso produto propõe um meio eficaz para estabelecer uma organização entre os elementos citados.</p>

    <h3>Ano do Projeto</h3>
    <p>2017</p>

    <h3>Áreas Envolvidas</h3>
    <p>Ciência da Computação, Engenharia de Software, Desenvolvimento de Software, Gestão de Projetos.</p>


</section>